*,
**::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.Faq-question {
  font-weight: bold;
  cursor: pointer;
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.Faq-question:hover {
  background-color: #e6e6e6;
}

.Faq-answer {
  display: none;
  padding: 10px;
  background-color: #f9f9f9;
  text-align: left;
}

.Faq-answer.show {
  display: block;
}
